body {
  background-color: white;
  width: 901px;
  align-content: center;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
}

header {
  align-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
h2 {
  font-family: 'Pacifico', cursive;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-family: 'Cutive Mono', monospace;
}
#headeritems {
  display: flex;
  align-content: center;
  justify-content: space-between;
 }

 #headerleft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  }
  #headerright {
  display: flex;
  align-items: center;
  }
  #headerleft h4 {
   margin: auto;
   text-align: center;
   float: right;
  }
  #logotext {
   margin-left: 5px;
  }
  #logotext h2 {
   margin-bottom: 1px;
   margin-top: 1px;
  }
  #pint {
   margin-right: 10px;
  }
  .icon {
   margin: 0px 1px 0px 1px;
  }

  #patternhr {
   border: none;
   background-image: url(../img/hr-img.png);
   background-repeat: repeat;
   height: 10px;
  }
  /* article body */
  #articletitle {
   display: flex;
   align-content: flex-end;
   justify-content: space-between;
  }
  #articleright {
   display: flex;
   align-items: flex-end;
  }
  #printicon {
   margin-bottom: 26px;
   margin-right: 5px;
  }
  #articleleft h4 {
   margin-bottom: 22.178px;
   margin-top: 0px;
  }
  #articleleft h1 {
   margin-bottom: 0px;
  }



#listleft {
  position: absolute;
  font-size: 30px;
  right: 950px;
}


#listright {
  position: absolute;
  right: 500px;
  font-size: 30px;
}

.recipelist {
  top: 1020px;
  list-style-type: none;
  font-family: 'Patrick Hand', cursive;
}


#authorsection {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
 }
 #authorleft {
  display: flex;
  justify-content: flex-end;;
  align-items: center;
  flex-wrap: wrap;
  }
  #authorright {
    display: flex;
    align-items: center;
  }
   #logohr {
    border-top: solid #000 1px;
    margin: 50px 0;
  }
  #logohr:after {
    content: url(../img/small-logo.png);
    /* Controls the position of the logo */
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    /* Controls the whitespace around the symbol */
    padding: 20px;
    background: #fff;
  }
 footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
 }
 h6{
  margin: 0px 0px 0px 0px;
 }